<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form
        name="diceConfigForm"
        #f="ngForm"
        (ngSubmit)="f.form.valid && sendSimulation()"
        novalidate
        class="feedback-form"
      >
        <!-- Sides of die -->
        <div class="form-group">
          <label for="sides">Sides of die</label>
          <input
            type="number"
            id="sides"
            class="form-control"
            name="sides"
            placeholder="6"
            [(ngModel)]="model.sidesOfDie"
            #sides="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && sides.invalid }"
            min="4"
            max="100"
            required
          />
          <!-- Input Validation group -->
          <div *ngIf="f.submitted && sides.invalid" class="invalid-input">
            <div *ngIf="sides.errors?.required">
              Invalid input
            </div>
          </div>
        </div>

        <!-- Number of dice -->
        <div class="form-group">
          <label for="quantity">Number of dice</label>
          <input
            type="text"
            id="quantity"
            class="form-control"
            name="quantity"
            placeholder="3"
            [(ngModel)]="model.numberOfDice"
            #quantity="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && quantity.invalid }"
            required
          />
          <!-- Input Validation group -->
          <div *ngIf="f.submitted && quantity.invalid">
            <div *ngIf="quantity.errors?.required" class="invalid-input">
              Number of dice is required
            </div>
          </div>
        </div>

        <!-- Number of rolls -->
        <div class="form-group">
          <label for="rollCount">Number of rolls</label>
          <input
            type="text"
            id="rollCount"
            class="form-control"
            name="rollCount"
            placeholder="10"
            [(ngModel)]="model.numberOfRolls"
            #rollCount="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && rollCount.invalid }"
            required
          />
          <div *ngIf="f.submitted && rollCount.invalid">
            <div *ngIf="rollCount.errors?.required" class="invalid-input">
              Number of rolls is required
            </div>
          </div>
        </div>

        <!-- Button -->
        <button type="submit" class="btn btn-info pull-right">
          <i class="fa fa-envelope-o"></i>
          <span>Run Simulation</span>
        </button>
      </form>
    </div>
  </div>
</div>
