<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form
        [formGroup]="diceForm"
        (ngSubmit)="runSimulation()"
        #form="ngForm"
        class="feedback-form"
      >
        <!-- Sides of die -->
        <div class="form-group">
          <label for="sides">Sides of die</label>
          <select
            formControlName="sides"
            type="number"
            class="form-control"
            [(ngModel)]="model.sidesOfDie"
            [ngClass]="{ 'is-invalid': submitted && f.sides.errors }"
          >
            <option value=""></option>
            <option value="4">4</option>
            <option value="6">6</option>
            <option value="8">8</option>
            <option value="10">10</option>
            <option value="12">12</option>
            <option value="20">20</option>
            <option value="100">100</option>
          </select>
          <!-- Input Validation group -->
          <div *ngIf="submitted && f.sides.errors" class="invalid-input">
            <div *ngIf="f.sides.errors.required">
              Sides of dice is required
            </div>
            <div *ngIf="f.sides.errors.min">
              Min value is 4
            </div>
          </div>
        </div>

        <!-- Number of dice -->
        <div class="form-group">
          <label for="quantity">Number of dice</label>
          <input
            formControlName="quantity"
            type="text"
            id="quantity"
            class="form-control"
            name="quantity"
            [(ngModel)]="model.numberOfDice"
            [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }"
            required
          />
          <!-- Input Validation group -->
          <div *ngIf="submitted && f.quantity.errors" class="invalid-input">
            <div *ngIf="f.quantity.errors.required">
              Number of dice is required
            </div>
            <div *ngIf="f.quantity.errors.min">Minimun value is 1</div>
            <div *ngIf="f.quantity.errors.max">Maximum value is 100</div>
          </div>
        </div>

        <!-- Number of rolls -->
        <div class="form-group">
          <label for="rollCount">Number of rolls</label>
          <input
            formControlName="rollCount"
            type="text"
            id="rollCount"
            class="form-control"
            name="rollCount"
            [(ngModel)]="model.numberOfRolls"
            [ngClass]="{ 'is-invalid': submitted && f.rollCount.errors }"
            required
          />
          <div *ngIf="submitted && f.rollCount.errors" class="invalid-input">
            <div *ngIf="f.rollCount.errors.required">
              Number of dice is required
            </div>
            <div *ngIf="f.rollCount.errors.min">Minimun value is 1</div>
          </div>
        </div>

        <!-- Button -->
        <button type="submit" class="btn btn-info pull-right">
          <i class="fa fa-envelope-o"></i>
          <span>Run Simulation</span>
        </button>
      </form>
    </div>
  </div>
</div>
<div class="container" *ngIf="simulationDistribution.length >= 1; else empty">
  <span>Simulation</span>
  <table class="table table-striped table-dark table-hover table-small">
    <thead>
      <tr>
        <th scope="col">Sum of Dice</th>
        <th scope="col">Frequency</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let simulation of simulationDistribution">
        <td>{{ simulation.totalOfDiceValues }}</td>
        <td>{{ simulation.frequency }}</td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #empty> </ng-template>
