<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form name="diceConfigForm" #f="ngForm" novalidate class="feedback-form">
        <!-- Sides of die -->
        <div class="form-group">
          <label for="sides">Sides of die</label>
          <input
            type="text"
            id="sides"
            class="form-control"
            name="sides"
            placeholder="6"
            [(ngModel)]="model.sidesOfDie"
          />
        </div>

        <!-- Number of dice -->
        <div class="form-group">
          <label for="quantity">Number of dice</label>
          <input
            type="text"
            id="quantity"
            class="form-control"
            name="quantity"
            placeholder="3"
            [(ngModel)]="model.numberOfDice"
          />
        </div>

        <!-- Button Get Total Rolls-->
        <button
          type="button"
          class="btn btn-info pull-right"
          (click)="getSimulationStatsByCombination()"
        >
          <i class="fa fa-envelope-o"></i>
          <span>Get Total Rolls</span>
        </button>

        <!-- Button Get Total Distribution-->
        <button
          type="button"
          class="btn btn-info pull-right"
          (click)="getCombinedDistributionStatsByCombination()"
        >
          <i class="fa fa-envelope-o"></i>
          <span>Get Distribution</span>
        </button>
      </form>
      <div
        class="container"
        *ngIf="simulationStatsByCombination != null; else empty"
      >
        Combination {{ model.numberOfDice }} pieces of
        {{ model.sidesOfDie }}-sided dice has been rolled a total of
        {{ simulationStatsByCombination.totalRolls }} times in
        {{ simulationStatsByCombination.simulations }} simulations
      </div>
      <div
        class="container"
        *ngIf="distributionStatsByCombination != null; else empty"
      >
        <span>Rolled {{ distributionStatsByCombination.numberOfDice }} </span>
        <span>{{ distributionStatsByCombination.sidesOfDie }}-sided dice </span
        ><br />
        <span>{{ distributionStatsByCombination.totalRolls }} times in</span
        ><br />
        <span>{{ distributionStatsByCombination.simulations }} simulations</span
        ><br />
        <span
          >having {{ distributionStatsByCombination.numberOfSumResult }} sum
          combinations</span
        ><br />
        <table class="table table-striped table-dark table-hover">
          <thead>
            <tr>
              <th scope="col">Sum of Dice</th>
              <th scope="col">Frequency</th>
              <th scope="col">Percentage</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let dist of distributionStatsByCombination.distribution"
            >
              <td>{{ dist.totalOfDiceValues }}</td>
              <td>{{ dist.frequency }}</td>
              <td>{{ dist.percentage }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #empty> </ng-template>
    </div>
  </div>
</div>
