<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form name="diceConfigForm" #f="ngForm" novalidate class="feedback-form">
        <!-- Sides of die -->
        <div class="form-group">
          <label for="sides">Sides of die</label>
          <input
            type="text"
            id="sides"
            class="form-control"
            name="sides"
            placeholder="6"
            [(ngModel)]="model.sidesOfDie"
          />
        </div>

        <!-- Number of dice -->
        <div class="form-group">
          <label for="quantity">Number of dice</label>
          <input
            type="text"
            id="quantity"
            class="form-control"
            name="quantity"
            placeholder="3"
            [(ngModel)]="model.numberOfDice"
          />
        </div>

        <!-- Button Get Total Rolls-->
        <button
          type="button"
          class="btn btn-info pull-right"
          (click)="getSimulationStatsByCombination()"
        >
          <i class="fa fa-envelope-o"></i>
          <span>Get Total Rolls</span>
        </button>

        <!-- Button Get Total Distribution-->
        <button
          type="button"
          class="btn btn-info pull-right"
          (click)="getCombinedDistributionStatsByCombination()"
        >
          <i class="fa fa-envelope-o"></i>
          <span>Get Distribution</span>
        </button>
      </form>
    </div>
  </div>
</div>
